<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                 <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>http://34.81.143.123/sonar</sonar.host.url>
            </properties>
            <repositories>
				<repository>
				   <id>nexus2</id>
				   <url>http://34.81.143.123/nexus/content/groups/public/</url>
				   <releases>
					  <enabled>true</enabled>
				   </releases>
				   <snapshots>
					  <enabled>true</enabled>
				   </snapshots>
				</repository>
			 </repositories>
			 <pluginRepositories>
				<pluginRepository>
				   <id>nexus2</id>
				   <url>http://34.81.143.123/nexus/content/groups/public/</url>
				   <releases>
					  <enabled>true</enabled>
				   </releases>
				   <snapshots>
					  <enabled>true</enabled>
				   </snapshots>
				</pluginRepository>
			 </pluginRepositories>
        </profile>
     </profiles>
	 <mirrors>
             <mirror>
                <id>nexus2</id>
                <mirrorOf>external:http:*</mirrorOf>
                <url>http://34.81.143.123/nexus/content/groups/public/</url>
                <blocked>false</blocked>
            </mirror> 
       </mirrors>
</settings>